%header.block.block-navigation
  .container
    %a{href: "#", id: 'toggle-nav', class: 'toggle-nav visible-xs visible-sm'}
      = image_tag 'logo-pink.png', class: 'logo-pink'
      Menu
    %nav{class: 'navbar', id: 'navbar'}
      %ul{class: 'nav navbar-nav'}
        %li.logo
          = image_tag 'logo-pink.png', class: 'toggle-nav logo-pink hidden-xs hidden-sm', size: '30x20'
          = image_tag 'close.png', class: 'toggle-nav logo-pink visible-xs visible-sm', size: '20x20'
        - @nav.each do |item|
          - if (@active_path == item[:href])
            %li.active
              %a{href: item[:href]}
                %span= item[:title]
          - else
            %li
              %a{href: item[:href]}
                %span= item[:title]
