// NAV
-# - @nav = ['Schedule', 'Locations', 'Speakers', 'Contact', 'Sponsors']
- @nav = ['Locations', 'Speakers', 'Contact']
%header.block.block-navigation
  .container
    %nav{class: 'navbar', id: 'navbar'}
      %ul{class: 'nav navbar-nav'}
        %li
          = image_tag 'logo-pink.png', class: 'logo-pink'
        - @nav.each do |name|
          %li
            %a{href: "#" + name.downcase}
              %span= name

// HERO
.block.block-hero
  .container
    .inner
      .block-content
        %h3
          = image_tag 'logo.png', class: 'logo-white'
          Rocky Mountain Ruby
        %h1
          %span.hidden-xs September 30, 2016
          %span.visible-xs Sep 30, 2016
          %br
          Denver, CO
        %a{href: 'https://rockymtnruby2016.busyconf.com/bookings/new', class: 'white-link purchase-tickets'}
          %span Purchase Tickets

// SCHEDULE
-# #schedule.block.block-schedule
  -# .container
    -# .inner
      -# %h2.block-title Schedule
      -# .block-content
        -# %h3.text-center Friday, September 30
        -# %ul.events
          -# - @schedule.each do |event, index|
            -# %li{class: 'event ' + cycle("odd", "even")}
              -# .row
                -# .col-sm-3
                  -# %span.event-time= event[:time]
                  -# %span.event-length= event[:length]
                -# .col-sm-9
                  -# %span.event-title= event[:title]
// LOCATION
#locations.block.block-location-title
  .container
    .inner
      %h2.block-title Location
.block.block-location-image
.block.block-location-content
  .container
    .inner
      .block-content
        %h3 Denver Art Museum
        %p
          %a{href: 'http://denverartmuseum.org', target: '_blank', class: 'gray-link'}
            denverartmuseum.org
        %address
          %a{href: 'https://goo.gl/maps/5N7QNZYN3vN2', target: '_blank', class: 'gray-link'}
            100 W 14th Ave Pkwy, Denver, CO 80204
            %br
            Sharp Auditorium + Lobby
        %p
          %a{href: 'https://rockymtnruby2016.busyconf.com/bookings/new', target: '_blank'}
            %span Purchase Tickets

#speakers.block.block-speakers
  .container
    .inner
      %h2.block-title Speakers
      .block-content
        .row
          - @speakers.each do |speaker|
            .col-md-4.col-sm-6.col-xs-12
              .speaker{'data-mh': 'speaker'}
                .speaker-img
                  = image_tag speaker[:img], class: 'img-responsive'
                .speaker-name
                  %h4= speaker[:name]
                .speaker-bio
                  %p= speaker[:bio]

#contact.block.block-contact
  .container
    .inner
      %h2.block-title Contact
      .block-content
        = form_tag "/contact", autocomplete: "off" do
          = invisible_captcha :topic
          .js-float-label-wrapper
            = text_field_tag "name", nil, placeholder: 'Name', required: true, minlength: 2
            = label_tag 'name', 'Name'
          .js-float-label-wrapper
            = text_field_tag "email", nil, placeholder: 'Email Address', type: 'email', required: true
            = label_tag 'name', 'Email Address'
          .js-float-label-wrapper
            = text_field_tag "comment", nil, placeholder: 'Comment or Question', required: true, minlength: 2
            = label_tag 'name', 'Comment or Question'
          .form-group.form-group-form-actions
            .row
              .col-md-8
                %p#formResults
              .col-md-4.text-right
                .btn-form-submit
                  = submit_tag "Send", class: 'btn btn-link btn-submit', 'data-loading-text': "Sending..."

-# #sponsors.block.block-sponsors
-#   .container
-#     .inner
-#       %h2.block-title Sponsors
-#       .block-content
-#         .row
-#           - @sponsors.each do |sponsor|
-#             .col-sm-4
-#               .sponsor{'data-mh': 'sponsor', class: cycle("text-left", "text-center", "text-right")}
-#                 = image_tag sponsor, class: 'img-responsive'

-# .block.block-vendors
-#   .container
-#     .inner
-#       %h2.block-title Vendors
-#       .block-content
-#         .row
-#           - @vendors.each do |vendor|
-#             .col-sm-4
-#               .vendor{'data-mh': 'vendor', class: cycle("text-left", "text-center", "text-right")}
-#                 = image_tag vendor, class: 'img-responsive'

.block.block-footer
  .container
    .block-content
      = image_tag 'logo-pink.png', class: 'logo-pink pull-left'
      %span Copyright © Rocky Mountain Ruby 2016. All Rights Reserved
