!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Rocky Mountain Ruby
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js'
    = csrf_meta_tags

    <meta property="og:url" content="http://rockymtnruby.com/"/>
    <meta property="og:title" content="Rocky Mountain Ruby 2016"/>
    <meta property="og:description" content="Rocky Mountain Ruby is back for the seventh year, bringing together 250 developers in downtown Denver. Attendees will hear from nine industry leaders as we share practices and build our community."/>
    <meta property="og:site_name" content='Rocky Mountain Ruby'/>
    <meta property="og:image" content="http://rockymtnruby.com/small-denver.jpg"/>
    <meta property="og:image:width" content="100"/>
    <meta property="og:image:height" content="52"/>

  %body
    = yield
